@font-face {
    font-family: 'kenyan coffee';
    src: url('../fonts/kenyan_coffee/kenyan coffee rg.otf') format('truetype');
}

body, html {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'kenyan coffee', sans-serif;
    font-size: 1em;
    background-color: #1F2039; /* Couleur d'arrière-plan */
    color: #F9F8FF;
    /*margin: 10px 10px 10px 10px;  Vous ne connaissez pas encore cette propriété mais elle permet de s'assurer que
    nos éléments prennent bien toute la largeur de la page */
    letter-spacing: 1px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter
     de l'espace dans notre élément*/
    margin: 20px 20px 20px 20px;
    border-radius: 50px;
    border : 3px solid white;
    box-shadow: 6px 6px 35px rgb(126, 189, 164);
}

#btn{
    margin-top: 35px;
}

.ma-classe, em{
    padding: 30px 0 20px 0;
}

h1{
    font-size: 3em;
    font-weight: 700;
}

h2{
    font-size: 1.7em;
    color: #fce7fc;
    font-family: 'American Typewriter', fantasy;
    text-shadow: 6px 6px 10px rgb(45, 7, 75);
    letter-spacing: 2px;
    font-weight: 700;
    transition: all 1s;
    display: block;
    margin-block-start: 00em;
    margin-block-end: 00em;
    margin-inline-start: 00px;
    margin-inline-end: 00px;
    text-align: center;
}

h3{
    font-family: 'American Typewriter', cursive;
    font-size: 1.5em;
    color: #bb52d2;
    display: block;
    margin-block-start: 00em;
    margin-block-end: 00em;
    margin-inline-start: 00px;
    margin-inline-end: 00px;
    font-weight: bold;
    text-align: center;
}

h4{
   font-family: "American Typewriter", cursive;
    font-size: 1.5em;
    color: #bb52d2;
    display: block;
    margin-block-start: 00em;
    margin-block-end: 00em;
    margin-inline-start: 00px;
    margin-inline-end: 00px;
    font-weight: bold;
    text-align: center;
}

#Retour_en_haut, h1 {
    text-align: center;
    font-size: 4em;
    color: #6beab9;
    font-family: 'kenyan coffee', sans-serif;
    text-shadow: 9px 9px 10px rgb(66, 17, 105);
    letter-spacing: 2px;
    transition: all 1s;
}

.ma-classe {
    font-size: 1.25em;
}

.ma-classe-2, .ma-classe, .copyright {
    text-align: center;
    color: #6beab9;
    font-weight: 700;
    font-size: 2.5em;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
}

em {
    color: #b214a5;
    font-style: normal;
    font-weight: 800;
}

.copyright {
    text-align: center;
    color: purple;
    font-size: 1em;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    letter-spacing: 2px;
    transition: all 1s;
}

.copyright a{
    font-size: 1.5em;
    color: #ffffff;
}

.copyright ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    list-style-type: none;
    padding-inline-start: 00px;
    padding: 00px 00px 00px 00px;
}

.copyright li{
    list-style-type: none ;
}

ul {
    display: block;
    list-style-type: none;
    padding-inline-start: 00px;
}


p, li, .copyright li{
    font-family: 'American Typewriter', cursive;
    font-weight: 800;
    color: #ffffff;
    font-size: 1em;
}

.photo{
    border: 5px solid #2E1263;
    box-shadow: 7px 7px 35px rgb(241, 193, 241);
    text-align: center;
    transition: all 1s;
    margin-top: 10px;
    border-radius: 50%;
}

.photo:hover{
    opacity: 0.3;
    color: #ffffff;
}

.logo,
.btn-up,
.container-flex, .container-column,
.grid-container-menu .menu{
    border-radius: 50%;
    border : 3px solid white;
    box-shadow: 6px 6px 35px rgb(126, 189, 164);
}

.logo-social-media,
.photo,
.logo,
.btn-up{
    transition: all 1s;
}

.logo-social-media:hover,
.logo:hover,
.btn-up:hover{
    opacity: 0.3;
    color: purple;
}

.logo-social-media:hover + h2{
    color: #ffffff;
}

.logo-social-media:active{
    color: purple;
}

.menu{
    color: purple;
    font-size: 25px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5em;
    font-family: 'kenyan coffee', sans-serif;
}

a:hover {
    color: #fff;
    text-decoration : none;
}

a:active{
    text-decoration-color: #1d313f;
}

a:visited{
    color: #1b33ce;
}

a:focus{
    color: #ffffff;
    outline-color: hotpink;
}

.non-souligne {
    text-decoration : none;
}

.logo{
    width:10%;
    height:10%;
    border-radius: 20px;
    transition: all 1s;
    margin-top: 15px;
}

.btn-up{
    width:5%;
    height:5%;
    border-radius: 20px;
    scroll-behavior: smooth;
}

.logo,
.btn-up,
.degrade,
.grid-container-menu .menu,
button,
button.degrade,
body{
    background: linear-gradient(245deg,
    #03001e,#03001e,#2E1263,#421169,
    #7400b8,#6930c3,#800080,#ec38bc,
    #bb52d2,#ffc0cb,#fdeff9,#984ba9,
    #af73bd,#1b33ce,#5e60ce,#5390d9,
    #4ea8de,#48bfe3, #bfefe8,#64dfdf,
    #80ffdb,#39eca5, #70ee85);
    background-size: 500%;
    animation: gradient-animation1 16s ease infinite;
}

@keyframes gradient-animation1 {
    0% {
        background-position: 00% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 00% 50%;
    }
}

.box {
    text-align: center;
    background-color: transparent;
    padding: 10px;
}

/* grilles et contenaires */

.container-row{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-column{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-attachment: fixed; /*permet de rendre l'image de fond fixe lorsqu'on déroule la page web */
    background-size: cover; /*permet de redimensionner l'image afin qu'elle s'adapte à la taille de l'élément
    qui la contient (elle garde ses proportions, en rognant la largeur ou la hauteur en fonction de la taille
    de l'élément qui la contient)*/
    padding: 00px 10px 10px 10px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter
     de l'espace dans notre élément*/
    margin: 00px 10px 10px 10px;
    border-radius: 50px;
    border : 3px solid white;
    box-shadow: 6px 6px 35px rgb(126, 189, 164);
}

.grid-container {
    text-align: center;
    align-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 40px;
    align-items:center;
    padding: 10px 10px 10px 10px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter
     de l'espace dans notre élément*/
    margin: 10px 10px 10px 10px;
    background-position: top left; /*associée aux valeurs  top ,  bottom ,  left ,  center  ou  right
    permet d'indiquer où doit se trouver l'image de fond */
    opacity: 0.9;
}

/*
.btn-up{
    position: fixed;
    bottom: 00px;
    left: 100px;
}

 */

.box-social-horizontale{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-social-horizontale ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    list-style-type: none;
    padding-inline-start: 00px;
}

.box-social-horizontale li {
    list-style-type: none ;       /* Suppression des puces */
    margin-left: 20px;
    margin-right: 20px ;
}

.grid-container-menu{
    align-items: center;
    flex-direction: column;
    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    justify-content: center     /* Alignements des liens dans le menu */
}

.grid-container-menu li{
    list-style-type: none ;       /* Suppression des puces */
}

.grid-container-menu .menu {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */
    color: #fff;                  /* Couleur du texte */
    font-size: 1.3em;
    font-family: "kenyan coffee", sans-serif;
    text-decoration: none;        /* Suppression du soulignement */
    border: 2px solid;       /* Ajout d'une bordure */
    border-radius: 50px;           /* Arrondis des bordures */
    transition: all 1s;          /* Ajout des effets de transition */
}

.grid-container-menu a:hover,
button:hover,
button.degrade:hover{
    background: linear-gradient(to right,#000046, #1CB5E0);
    color: #1b33ce;
    border-color: #bb52d2;
}

.grid-container-menu a.actif,
button a.actif,
button.degrade a.actif{
    background: linear-gradient(to right,#000046, #1CB5E0);
    border-color: #1ABC9C ;
}

.grid-container-menu a:hover,
.grid-container-menu a:hover.actif,

.logo a:hover,
.logo a:hover.actif,

.btn-up a:hover,
.btn-up a:hover.actif,

button a:hover.actif,
button.degrade a:hover.actif,

button:hover button a:hover,
button.degrade a:hover
{
    color: #421169;
    border-color: #39d7ec;
}

.container-flex {
    text-align: center;
    display: block;
    justify-content: center;
    align-items:center;
    height: auto;
    background-image: url("../images/background.jpg");
    background-attachment: fixed; /*permet de rendre l'image de fond fixe lorsqu'on déroule la page web */
    background-size: cover; /*permet de redimensionner l'image afin qu'elle s'adapte à la taille de l'élément
    qui la contient (elle garde ses proportions, en rognant la largeur ou la hauteur en fonction de la taille
    de l'élément qui la contient)*/
    padding: 10px 10px 10px 10px;
    border-radius: 70px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.container-flex-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items:center;
    height: auto;
    background-size: cover; /*permet de redimensionner l'image afin qu'elle s'adapte à la taille de l'élément
    qui la contient (elle garde ses proportions, en rognant la largeur ou la hauteur en fonction de la taille
    de l'élément qui la contient)*/
}

.degrade{
    background: radial-gradient(#bb52d2, #1b33ce);
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 50px;
    text-decoration: none;
}

.degrade:hover{
    background-color: #1f2039;
    color: #f1c1f1;
}

button {
    border: 5px solid #2E1263;
    background-color: #984ba9;
    font-size: 15px;
    color : #2E1263;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    margin: 10px auto 10px;
    padding: 20px 25px;
    border-radius: 50px;
    letter-spacing: 4px;
}

button:hover button a:hover,
button.degrade a:hover{
    transition: 0.3s;
    color: #af73bd;
    text-decoration: none;
}