
article{
    background: linear-gradient(245deg,
    #03001e,#03001e,#2E1263,#421169,
    #7400b8,#6930c3,#800080,#ec38bc,
    #bb52d2,#ffc0cb,#fdeff9,#984ba9,
    #af73bd,#1b33ce,#5e60ce,#5390d9,
    #4ea8de,#48bfe3, #bfefe8,#64dfdf,
    #80ffdb,#39eca5, #70ee85);
    background-size: 500%;
    border-radius: 20px;
    animation: gradient-animation1 16s ease infinite;
}

@keyframes gradient-animation1 {
    0% {
        background-position: 00% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 00% 50%;
    }
}

#portfolio{
    margin-top: 20px;

}

.box-a-propos h1{
    padding: 20px;
}

.container-ligne{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    text-align: center
}

.degrade-article{
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 30%;
    height: auto;
}

.degrade-article img, .img-miniature{
    width: 100%;
    height: 100%;
    margin:auto;
    object-fit: cover;
    border-radius: 40px;
    border : 3px solid white;
    box-shadow: 6px 6px 35px rgb(255, 255, 255);
    transition: all 2s;
}

.degrade-article img:hover, .img-miniature:hover{
    transition: all 1s;
    opacity: 0.7%;
}

.lien-img {
    position: relative;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 50px 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien-img:hover .img-hover {
    display: flex;
}

.container-colonne {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /*permet de redimensionner l'image afin qu'elle s'adapte à la taille de l'élément
       qui la contient (elle garde ses proportions, en rognant la largeur ou la hauteur en fonction de la taille
       de l'élément qui la contient)*/
    padding: 0 10px 10px 10px;
    /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter
        de l'espace dans notre élément*/
    margin: 00px 10px 10px 10px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 6px 6px 35px rgb(126, 189, 164);
    background: linear-gradient(245deg,
    #80ffdb,#72efdd,#64dfdf,#56cfe1,
    #48bfe3, #3798d2, #2370cb, #3335d9
    ,#6930c3, #7400b8, #9620b0, #d579ea);
    background-size: 500%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 00% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 00% 50%;
    }
}

.small{
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
}

.bordure{
    border-right: 5px groove #8e86b5;
    border-bottom: 5px groove #8e86b5;
}


.important{
    font-style: oblique;
    font-weight: 700;
    color: #2E1263;
}

.special {
    background: radial-gradient(mediumslateblue, dodgerblue);
    animation-duration: 13s;
    animation-delay: 0s;
    animation-name: glissement;
    animation-iteration-count: infinite;
}

@keyframes glissement {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 00%;
        width: 100%;
    }
}

/*
* {

    margin: 0;
}
 */

/*
header, footer{
    padding: 20px 50px 20px 50px;
}
 */

/*
section{
    padding: 10px;
}
*/